[run]
source = tower_cli/
omit =
    tower_cli/utils/compat.py
branch = True


[html]
directory = .coverage-html/


[report]
exclude_lines =
    # Enable the standard pragma.
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
show_missing = True
