# ----------------------
# -- Package Metadata --
# ----------------------
include LICENSE
include README.rst
include HISTORY.rst
include VERSION
include lib/tower_cli/VERSION
include requirements.txt
recursive-include docs *
recursive-include tests *
include tox.ini
